table {
  width: 100%;
  text-align: center;
}
table thead {
  height: 30px;
  padding: 5px;
}
table thead th {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  border: 2px solid gray;
}
table tbody tr {
  height: 20px;
  border: 2px solid gray;
}
table tbody tr td {
  font-size: 18px;
  padding: 8px;
  border: 2px solid gray;
}
.edit-icon {
  background-color: rgb(1 16 1);
  border-radius: 50%;
  color: white;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}
.delete-icon {
  background-color: rgb(229 11 31);
  border-radius: 50%;
  color: white;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}
