.dashboardCard {
  width: 240px;
  height: 155px;
  padding: 0px;
  border: 1px solid #ddcdcd;
  border-radius: 5px;
  /* background-color: lightskyblue; */
}
.cardFooter {
  height: 34px;
  background-color: rgb(243 238 238);
  padding: 5px;
}
.cardText {
  padding: 8px;
  height: 78%;
  font-size: 19px;
  text-align: right;
  color: white;
}
.cardText h2 {
  font-size: 50px;
}
