.submenuDetails {
  /* border: 2px solid gray; */
  padding: 0px;
  margin-top: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body,
input,
select {
  font-family: "Spline Sans", sans-serif;
}

.mainInputField-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* min-height: 200vh; */
  background-color: #fff;
  /* overflow: hidden; */
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin: 2rem 0px;
  font-weight: 700;
  text-align: center;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
.form-input-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0.5rem;
  overflow: hidden;
  align-items: center;
  margin: 0px 0px;
}
form .Submit-button {
  display: flex;
  justify-content: center;
}
p {
  font-weight: 500;
  font-size: 16px;
  color: #4d84e2;
  text-align: center;
}
p span {
  font-weight: 600;
  color: #323233;
  padding: 0px 10px;
}
.mainInputField-container form .input-filed {
  max-height: 380px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 15% 85%;
}

.input-icon {
  margin: auto;
  color: #acacac;
}
form .input-filed input,
select {
  border: none;
  background: none;
  outline: none;
  line-height: 1;
  font-weight: 500;
  color: #333;
  font-size: 0.98rem;
  /* margin-top: 8px; */
  padding: 13px;
}
.input-filed input::placeholder,
select::placeholder {
  font-weight: 500;
  color: #aaa;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  background-color: #5995fd;
  cursor: pointer;
  text-transform: uppercase;
  margin: 10px 0px;
  transition: 0.6s;
}

.btn:hover {
  background-color: #4d84e2;
}
@media (max-width: 1200px) {
  form .form-input-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    margin: 0px 18px;
  }
}
@media (max-width: 870px) {
  .title {
    font-size: 2rem;
    color: #444;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
  }
  h5 {
    font-size: 18px;
    font-weight: 600;
  }
  form .form-input-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    margin: 0px 20px;
  }
}

@media (max-width: 570px) {
  .title {
    font-size: 1.9rem;
    color: #444;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
  }
  h5 {
    font-size: 12px;
    font-weight: 600;
  }
  form .form-input-field {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    margin: 20px 0px;
  }

  .btn {
    width: 120px;
    height: 30px;
    border-radius: 40px;
  }
}
